{% extends 'linkary/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1 class="text-center">Categories</h1>
        </div>
        <ul class="list-group">
        </ul>
        <div class="row">
            {% for category in object_list %}
                <div class="col-md-3">
                    <h3>{{ category }}</h3>
                </div>
            {% empty %}
                <h3><small>No categories to show</small></h3>
            {% endfor %}
        </div>
    </div>
{% endblock %}
