{% extends 'linkary/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1 class="text-center">Categories</h1>
        </div>
    </div>
    <div class="container-fluid">
        <!-- New Category Button -->
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <a href="{% url 'category_create' %}" class="btn btn-primary btn-block">New Category</a>
            </div>
        </div>
        <!-- Category list -->
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <br>
                <hr>
                <br>
                <div class="container-fluid">
                    <div class="row row-eq-height">
                        {% for category in object_list %}
                            {% include 'linkary/category_thumbnail.html' %}
                        {% empty %}
                            <h3><small>No categories to show</small></h3>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
