<div class="col-md-12">
    <div class="panel panel-default">
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'category_detail' category.pk %}" title="View details">
                        <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;{{ category.name }}
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'link_create' %}?category={{ category.pk }}" title="New Link">
                            <span class="glyphicon glyphicon-plus"></span>
                            New Link
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'category_edit' category.pk %}" title="Edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'category_delete' category.pk %}" title="Delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {% if category.link_set.count %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Latest links</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                {% for link in category.latest_links %}
                <tr>
                    <td><a href="{{ link.url }}">{{ link.name }}</a></td>
                    <td class="text-right">{{ link.time_modified|date:'Y-m-d H:i:s' }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="panel-body"><p>No links here.</p></div>
        {% endif %}
    </div>
</div>
