{% extends 'linkary/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1 class="text-center">Linkary</h1>
            <h3 class="text-center"><small>for when chrome sync fails</small></h3>
        </div>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Latest links</th>
                </tr>
            </thead>
            <tbody>
                {% for link in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'link_detail' link.pk %}" class="btn btn-default btn-xs" title="Details...">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>&nbsp;
                            <a href="{% url 'link_edit' link.pk %}" class="btn btn-default btn-xs" title="Edit...">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>&nbsp;
                            <a href="{% url 'link_delete' link.pk %}"class="btn btn-default btn-xs" title="Delete...">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>&nbsp;
                            <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
