{% extends 'linkary/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        {% if next %}
            <div class="alert alert-info">
                {% if user.is_authenticated %}
                    <p>You don't have access to this page.</p>
                {% else %}
                    <p>You have to be logged in to see this page.</p>
                {% endif %}
            </div>
        {% endif %}

        <div class="page-header"><h1>Login</h1></div>

        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <span class="text-danger small">{{ form.username.errors }}</span>
                </div>
                <label class="control-label col-sm-2">
                    {{ form.username.label_tag }}
                </label>
                <div class="col-sm-8">
                    <input class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"
                           value="" type="text" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <span class="text-danger small">{{ form.password.errors }}</span>
                </div>
                <label class="control-label col-sm-2">
                    {{ form.password.label_tag }}
                </label>
                <div class="col-sm-8">
                    <input class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}"
                           value="" type="password" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                </div>
            </div>
        </form>

        <hr>

        <p>
            <h4>or, if you don't have an account yet</h4>
            <div class="col-sm-offset-2 col-sm-8">
            <a href="{% url 'user_register' %}" class="btn btn-default btn-block">Register</a>
            </div>
        </p>

    </div>
{% endblock %}
